/* Characters */
.grid-cell {
    position: absolute;
    width: 16px;
    height: 16px;
}

.alignCenter {
    transform: translateX(-50%);
}

.Character {
    transition: transform 0.4s;
}

.Character.you {
    z-index: 1;
}

.Character.you .Character_you-arrow {
    display: block;
}

.Character_you-arrow {
    display: none;
    position: absolute;
    top: -55px;
    /* width: 7px;
    height: 5px; */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #f00;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        top: -50px;
    }

    50% {
        top: -55px;
    }

    100% {
        top: -50px;
    }
}

.Character_body {
    overflow: hidden;
    border-radius: 5px;
    height: 32px;
    width: 32px;
}

.Character_eyes {
    overflow: hidden;
    background-color: white;
    height: 5px;
    width: 5px;
    top: 10px;
    left: -7px;
    animation-name: eyes;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes eyes {
    40% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    60% {
        opacity: 100%;
    }
}

.Character_name-container {
    position: absolute;
    top: -25px;
    font-size: 15px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: rgba(81, 81, 81, 0.65);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.Character[data-direction="right"] .Character_eyes {
    left: 7px;
}

.rainbow {
    background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
    background-size: 1200% 1200%;
    -webkit-animation: rainbow 15s ease infinite;
    animation: rainbow 15s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.barrier {
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    height: 32px;
    width: 32px;
}